



<div class="card artist-card">
    <div class="row no-gutters">
        <div class="col-auto">
            <img src="profile.jpg" class="img-fluid" alt="">
        </div>
        <div class="col">
            <div class="card-block px-2">
                <h4 class="card-title"><%= artist.name %><br/></h4>
            </div>
        </div>
    </div>
</div>