
<div class="container bg-dark px-0" id="user-home-content">
  <!-- My posts -->
  <% if current_user.posts.any?%>
    <div class="container-fluid">
      <h1 class="spotify-label mx-2 mt-2">My Flyers</h1>
      <div id="posts" class="horizontal-scroll-container mt-2" >
        <% current_user.posts.each do |post| %>
          <div id="discover-page-posts-carousel" class="container-fluid">
            <%= render post %>
          </div>
        <% end %>
      </div>
    </div> 
  <% end %>
  <!-- saved flyers -->







 
  <h1 class="spotify-label mx-2 mt-2">bookmarks</h1>
  <div class="container pt-2">
    <% @bookmarked_posts.each_slice(2) do |post_slice| %>
      <div class="row">
        <% post_slice.each do |post| %>
          <div class="col-6">
            <%= render post %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

<%= render 'posts/form', post: Post.new %>

