<div class="container-fluid mt-0 px-0" id="discover-page-content">
  <!-- featured shows -->
  <div class="container-fluid mt-0 pb-1 px-0">
    <h2 class="spotify-label mt-4 mb-0 mx-2 mt-0">Featured Shows</h2>

    <div id="posts" class="horizontal-scroll-container mt-2" >
      <% @posts.each do |post| %>
        <div id="discover-page-posts-carousel" class="container-fluid">
          <%= render post %>
        </div>
      <% end %>
    </div>

  </div>
  <h2 class="spotify-label mt-4 mb-0 mx-2 mt-2">Local Artists</h2>

  <!-- artists -->

  <div class="horizontal-scroll-container d-flex flex-nowrap overflow-auto mt-2">
    <% @artists.each do |artist| %>
      <%= render artist %>
    <% end %>
  </div>
  <!-- all ahows -->
  <h2 class="spotify-label mt-4 mb-0 mx-2 mt-2">All Upcoming Shows</h2>
  <div class="container pt-2">
    <% @posts.each_slice(2) do |post_slice| %>
      <div class="row">
        <% post_slice.each do |post| %>
          <div class="col-6">
            <%= render post %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>


</div>