






<div class="band-card">
  <div class="image-container">
    <%= image_tag band.profile_picture, id: "image", class: "band-profile-picture" %>
  </div>
  <div class="text-container">
    <h2><%= band.name %></h2>
    <!-- Additional band details -->
  </div>
</div>
