<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <h2 class="spotify-label mb-0 mx-2 mt-2">Upcoming Shows</h2>
    <ul class="navbar-nav">
      <!-- Add your navbar items here -->
    </ul>
  </div>
</nav>



<div id="posts" class="horizontal-scroll-container mt-2" >
  <% @posts.each do |post| %>
    <div class="container post-card" style="max-width: 200px;">
      <%= render post %>
    </div>
  <% end %>
</div>