<h2 class="spotify-label mt-4 mb-0 mx-2 mt-2">Upcoming Shows</h2>



<div id="posts" class="horizontal-scroll-container mt-2" >
  <% @posts.each do |post| %>
    <div class="container post-card" style="max-width: 200px;">
      <%= render post %>
    </div>
  <% end %>
</div>