/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import 'custom';
.color-palette {
color: #1db954;
color: #212121	;
color: #121212	;
color: #535353	;
color: #b3b3b3	;
}






/*=============================================
=            horizontal scroll container            =
=============================================*/

.horizontal-scroll-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
}
.horizontal-scroll-item {
  display: inline-block;
  flex: 0 0 auto; 
}
#discover-page-posts-carousel {
  padding: 1%;
}

/*=====  End of horizontal scroll conatainer  ======*/


/*=============================================
=            fonts            =
=============================================*/
@font-face {
  font-family: 'FreeSansBold';
  src: url(font-path('FreeSansBold.otf')) format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd-Bold.otf';
  src: url(font-path('CircularStd-Bold.otf')) format('opentype');
  font-weight: normal;
  font-style: normal;
}

/*=====  End of fonts  ======*/








/* ----------artist styling ------------*/


.artist-card {
  border: 0;
  background-color: #212121;
  border-radius: 10px; /* Rounded corners */
  display: inline-block;
  width: 300px;
  color: #fff; /* White text */
}

.artist-card-title {
  
  vertical-align: middle;
  text-align: center;
}
/* ----------------------------- */



.dark {
  color: #121212;
  background-color: #121212	;;
}

.dark-gray {
  color: #212121;
  background-color: #212121	;
}

.gray {
  color: #535353;
  background-color: #535353; 
}

.light-gray {
  color: #b3b3b3;
  background-color: #b3b3b3; 
}
/* ----------------------------- */





/* ------------post styling -----------*/

.post-title {
  font-size: 16px;
  color: white;
  font-family: 'FreeSansBold', sans-serif;
  word-wrap: break-word ;
  overflow-wrap: break-word ;
  hyphens: auto;
}

.post-card {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 3%;
  display: inline-block;
  background-color: #212121;
  vertical-align: top;
  width: 200px;
  min-height: 400px;
  border-radius: 10px;
}


/* ----------------------------- */




.artist-card .card-title {
  text-align: right; /* Align artist name to the right */
}
.full-height {
  height: 100vh;
}
.card-dark {
  background-color: #212528 !important;
}
.dark-page {
  background-color: #212528;
  padding: 0%;
}

.gradient-background-1 {
  background: linear-gradient(to bottom, #233347, black);
  padding: 0%;
}
.gradient-background-2 {
  background: linear-gradient(to bottom, #234736, black);
  padding: 0%;
  min-height: 200px;
}


.btn-gray {
  background-color: #A7A7A7;
  opacity: 50%;
}

/* Your CSS styling */
.custom-modal-content {
  background: linear-gradient(to bottom, #085358, #212121) !important;
  color: white !important; /* Change the text color */
}

#discover-page-content {
  height: 100%;
  background: linear-gradient(to bottom, #264e3b, black);
}

#my-flyers-content {
  padding: 0%;
  background: linear-gradient(to right, #388aab, #d93838,  #86d938 );
}


#user-home-content {
  height: 100vh;
}





.location-icon {
  margin-left: 7px;
}

.transparent {
  color: #b3b3b3;
  opacity: 75%;
}


/* misc pages */

.account-container {
  background-color: #212121 ;
  color: #fff;
  min-height: 100vh;
  padding: 10%;
}
.btn-icon {
  background: none;
  border: none;
  color: white;
}


.submi {
  font-size: 20px;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  background: transparent;
  border: none; /* remove default border */
  text-align: center; /* center the text */
  text-decoration: none; /* remove underline */
  display: inline-block;
  cursor: pointer; /* add a cursor on hover */
}
.submit-btn {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: lowercase;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  background: transparent;
  border: none; /* remove default border */
}


/* icons */

.back-btn {
 color: #171815;
}



/* show-post */



.show-bg {
  background: linear-gradient(to bottom, #325ea5, #121212); 
  padding: 0%;
  height: 100%;
}
.show-date {
  font-size: 18px;
  color: white;
  font-family: 'CircularStd-Bold', sans-serif;
  font-weight: bold;
  word-wrap: break-word ;
  overflow-wrap: break-word ;
  hyphens: auto;
  letter-spacing: 0px;
  margin-left: 10px;
}
.show-title {
  font-size: 48px;
  color: white;
  font-family: 'CircularStd-Bold', sans-serif;
  font-weight: bold;
  word-wrap: break-word ;
  overflow-wrap: break-word ;
  hyphens: auto;
  letter-spacing: 0px;
}

@font-face {
  font-family: 'CircularStd-Bold';
  src: url(font-path('CircularStd-Bold.otf')) format('opentype');
  font-weight: normal;
  font-style: normal;
}