/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
.color-palette {
color: #1db954;
color: #212121	;
color: #121212	;
color: #535353	;
color: #b3b3b3	;
}
.artist-card {
  background-color: #808080; /* Mid-gray background color */
  border-radius: 10px; /* Rounded corners */
}

.artist-card .card-title {
  text-align: right; /* Align artist name to the right */
}

.dark {
  color: #121212;
  background-color: #121212	;;
}

.dark-gray {
  color: #212121;
  background-color: #212121	;
}

.gray {
  color: #535353;
  background-color: #535353; 
}

.light-gray {
  color: #b3b3b3;
  background-color: #b3b3b3; 
}
.artist-card {
  background: #594654;
  border: 0;
}

.full-height {
  height: 100vh;
}
.card-dark {
  background-color: #212528 !important;
}
.dark-page {
  background-color: #212528;
  padding: 0%;
}

.gradient-background-1 {
  background: linear-gradient(to bottom, #233347, black);
  padding: 0%;
}
.gradient-background-2 {
  background: linear-gradient(to bottom, #234736, black);
  padding: 0%;
  min-height: 200px;
}


.btn-gray {
  background-color: #A7A7A7;
  opacity: 50%;
}

/* Your CSS styling */
.custom-modal-content {
  background-color: #594654 !important; /* Change the background color */
  color: white !important; /* Change the text color */
}

#discover-page-content {
  height: 100%;
  background: linear-gradient(to bottom, #264e3b, black);
}