.band-title {
  font-size: 48px;
  color: white;
  font-family: 'CircularStd-Bold', sans-serif;
  font-weight: bold;
  word-wrap: break-word ;
  overflow-wrap: break-word ;
  hyphens: auto;
  letter-spacing: 0px;
}
.band-card {
  border: 0;
  background-color: #212121;
  border-radius: 10px; /* Rounded corners */
  display: inline-block;
  width: 300px;
  color: #fff; /* White text */
}

.band-card-title {
  
  vertical-align: middle;
  text-align: center;
}