@import "font-awesome";

body {
	margin: 0;
	padding: 0;
	background: #642B73;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: spotify-circular,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}



.navbar {
  background-color: #181818 !important;
}

.nav-item {
  color: #A7A7A7 !important;
}

.nav-link {
  color: #A7A7A7 !important;
}
.navbar-toggler {
  border-color: #A7A7A7 !important;
}

.navbar-toggler-icon {
  color: white !important;
}
.card-text{
  color: #A7A7A7;
}





#date {
  color: red;
}




.post-large {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: top;
  width: 400px;
}

.spotify-label {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #1DB954;
  padding: 5px 10px;
  border-radius: 20px;
  display: inline-block;
}
@font-face {
  font-family: 'NEON';
  src: url(font-path('NEON.TTF')) format('opentype');
  font-weight: normal;
  font-style: normal;
}
.neon {
  font-family: 'NEON', sans-serif;
  font-size: 20px;

  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}
.logo-img {
  max-width: 40px; /* Change the value as per your requirement */
}

.fa-chevron-circle-left {
  color: #A7A7A7;
}

#icon {
  color: #A7A7A7;
}

.icon-light {
  color: #fff;
}

.custom-card {
  background-color: #594654; /* Replace with your color */
  color: #594654; /* Replace with your color */
}

