

body {
	margin: 0;
	padding: 0;
	background: #642B73;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: spotify-circular,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.navbar {
  background-color: #181818 !important;
}

.nav-item {
  color: #A7A7A7 !important;
}

.nav-link {
  color: #A7A7A7 !important;
}
.navbar-toggler {
  border-color: #A7A7A7 !important;
}

.navbar-toggler-icon {
  color: white !important;
}
.card-text{
  color: #A7A7A7;
}

#posts.horizontal-scroll-container {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.post-card {
  display: inline-block;
  margin-right: 1rem; /* Or whatever spacing you want between cards */
  vertical-align: top; /* To ensure cards align to the top of the container */
}
